@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  width: 1140px;
  margin: auto;
}

::selection {
  background-color: #f14d5d;
  color: #fff;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
  color: #14133b;
}

h3 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

p {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates";
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header-section {
  display: flex;
  background-color: #031f42;
  width: 100%;
  height: 50px;
}
.top-header-section .icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.top-header-section .call {
  display: flex;
  gap: 0.9rem;
}
.top-header-section .call i {
  color: #015abd;
}
.top-header-section .call span {
  color: #fff;
  font-size: 15px;
  transition: all 0.4s ease;
}
.top-header-section .call span:hover {
  color: #015abd;
}
.top-header-section .register {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.top-header-section .register i {
  color: #015abd;
  font-size: 20px;
}
.top-header-section .register .horizontal {
  width: 2px;
  height: 30px;
  background-color: #647589;
}
.top-header-section ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
.top-header-section ul i {
  font-size: 12px;
  color: #647589;
  transition: all 0.4s ease;
}
.top-header-section ul i:hover {
  color: #fff;
}

.navbar-section {
  background-color: #fff;
  padding: 2rem 0;
}
.navbar-section .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-section .navbar .logo-section {
  display: flex;
  align-items: center;
}
.navbar-section .navbar .logo-section img {
  width: 100px;
  height: 30px;
}
.navbar-section .navbar .logo-section .logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
.navbar-section .navbar .category-search {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
  margin-left: 2rem;
}
.navbar-section .navbar .category-search .category {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: black;
}
.navbar-section .navbar .category-search span {
  font-size: 14px;
}
.navbar-section .navbar .category-search .search-box {
  display: flex;
  align-items: center;
  background-color: #f1f1eb;
  padding: 15px 12px;
  border-radius: 6px;
}
.navbar-section .navbar .category-search .search-box input {
  border: none;
  outline: none;
  background: transparent;
  padding: 5px;
  font-size: 14px;
}
.navbar-section .navbar .category-search .search-box i {
  font-size: 16px;
  margin-left: 8px;
  color: #000;
  transition: all 0.4s ease;
  font-weight: bold;
  font-weight: 700;
}
.navbar-section .navbar .category-search .search-box i:hover {
  color: red;
}
.navbar-section .navbar .nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}
.navbar-section .navbar .nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  transition: all 0.4s ease;
}
.navbar-section .navbar .nav-links a .small-icon {
  font-size: 10px;
  margin-left: 3px;
}
.navbar-section .navbar .nav-links a:hover {
  color: red;
}

.hero-section {
  background-color: #2f2d51;
  width: 100%;
  height: 700px;
}
.hero-section .hero-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.hero-section img {
  width: 480px;
  text-align: end;
}
.hero-section .hero-header-text {
  padding: 7rem 0;
}
.hero-section .hero-header-text h5 {
  color: #fff;
}
.hero-section .hero-header-text h1 {
  padding: 1.5rem 0;
  color: #fff;
}
.hero-section .hero-header-text p {
  padding: 0.5rem 0;
  font-size: 18px;
  color: #cfc8c8;
}
.hero-section .button-group {
  padding: 1rem 0;
}
.hero-section .button-group .find-courses,
.hero-section .button-group .get-started {
  padding: 18px 30px;
  font-size: 16px;
  color: #fff;
}
.hero-section .button-group .find-courses {
  background-color: #f14d5d;
  border: none;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.hero-section .button-group .find-courses:hover {
  background-color: #3157aa;
}
.hero-section .button-group .get-started {
  background-color: #fff;
  border: none;
  color: #f14d5d;
  border-radius: 5px;
  transition: all 0.4s ease;
  margin-left: 5px;
}
.hero-section .button-group .get-started:hover {
  background-color: #f14d5d;
  color: #fff;
}

.container .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  width: 100%;
  height: 170px;
  background-color: #2a3e61;
  margin: -8% 0;
  border-radius: 5px;
}
.container .card h3 {
  font-size: 50px;
  color: #fff;
}
.container .card p {
  text-align: center;
  color: #fff;
}

.popular-pourses {
  width: 100%;
  height: 580px;
}
.popular-pourses .popular-header {
  margin-top: 10rem;
  text-align: center;
  color: #000;
}
.popular-pourses .popular-header p {
  padding: 0.2rem;
}
.popular-pourses .popular-curses-card {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}
.popular-pourses .popular-curses-card .image-card {
  width: 365px;
  height: 434px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.popular-pourses .popular-curses-card img {
  width: 100%;
  object-fit: cover;
}
.popular-pourses .popular-curses-card .image-text {
  padding: 1rem;
  color: #000;
}
.popular-pourses .popular-curses-card h3 {
  padding: 1rem 0;
}
.popular-pourses .popular-curses-card .star-item {
  display: flex;
  gap: 0.6rem;
}
.popular-pourses .popular-curses-card .star-item p {
  color: #000;
  padding: 0.2rem;
  font-size: 12px;
}
.popular-pourses .popular-curses-card .star {
  display: flex;
  gap: 7px;
  color: #ffc78b;
  font-size: 15px;
}
.popular-pourses .icons-text {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.popular-pourses .icons-text .icons-items i {
  font-size: 14px;
  color: #000;
  font-weight: 700;
}
.popular-pourses .icons-text .icons-items span {
  font-size: 14px;
  margin-left: 5px;
  color: #000;
  font-weight: 500;
}
.popular-pourses .bages {
  padding: 10px 20px;
  background-color: #f14d5d;
  position: absolute;
  bottom: 45%;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.popular-pourses .hover-card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.4s ease;
}
.popular-pourses .image-card:hover .hover-card {
  transform: scale(1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.popular-pourses .hover-card {
  padding: 2rem;
}
.popular-pourses .hover-card h2 {
  color: #f14d5d;
}
.popular-pourses .hover-card h3 {
  color: #000;
  transition: all 0.4s ease;
}
.popular-pourses .hover-card h3:hover {
  color: #f14d5d;
}
.popular-pourses .hover-card p {
  color: #000;
  padding: 0.5rem 0;
}
.popular-pourses .hover-card .button {
  padding: 12px 26px;
  margin-top: 1rem;
  border: none;
  outline: none;
  background-color: #dddddd;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.4s ease;
}
.popular-pourses .hover-card .button:hover {
  color: #fff;
  background-color: #f14d5d;
  cursor: pointer;
}
.popular-pourses .hover-card .avator-image {
  display: flex;
  padding: 0.5rem 0;
}
.popular-pourses .hover-card .avator-image .avator-item {
  width: 35px;
  height: 35px;
}
.popular-pourses .hover-card .avator-image .avator-item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.popular-pourses .hover-card .avator-image .text {
  color: #000;
  padding: 0.5rem;
}
.popular-pourses .hover-card .avator-image .icons-text {
  display: flex;
  margin-left: 2rem;
  margin-top: -7px;
  gap: 0.5rem;
}
.popular-pourses .hover-card .avator-image .icons-text i {
  color: #015abd;
}
.popular-pourses .hover-card .avator-image .icons-text span {
  color: #000;
}

.categories-section {
  margin-top: 3rem;
  height: 590px;
  padding: 3rem 0;
  background-color: #f5f5f5;
}
.categories-section .header-text {
  text-align: center;
  padding: 4rem;
}
.categories-section .header-text h2 {
  color: #14133b;
}
.categories-section .header-text p {
  padding: 0.5rem;
  color: #1e1f1f;
}
.categories-section .full-card {
  display: flex;
  justify-content: space-between;
}
.categories-section .full-card .card-one:nth-child(2) {
  background-color: #00C0A6;
}
.categories-section .full-card .card-one:nth-child(3) {
  background-color: #1162FC;
}
.categories-section .full-card .card-one:nth-child(4) {
  background-color: #8007E6;
}
.categories-section .full-card .card-one:nth-child(5) {
  background-color: #FA7919;
}
.categories-section .full-card .card-one {
  width: 210px;
  height: 220px;
  background-color: #dd246e;
  border-radius: 10px;
  padding: 2.5rem 0rem;
  transition: all 0.4s ease;
}
.categories-section .full-card .card-one h3 {
  color: #fff;
}
.categories-section .full-card .card-one .in-box {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-section .full-card .card-one .in-box img {
  width: 50px;
  height: 50px;
}
.categories-section .full-card .card-one h3 {
  text-align: center;
  padding: 1.2rem 0;
}
.categories-section .full-card .card-one:hover {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.categories-section .full-card .card-one:hover .in-box {
  background-color: #dcf1fd;
}
.categories-section .full-card .card-one:hover h3 {
  color: #14133b;
}

.course-details-section {
  padding: 4rem 0;
  height: 590px;
}
.course-details-section p {
  line-height: 1.7rem;
  color: 16px;
}
.course-details-section .details-items {
  display: flex;
  gap: 2rem;
}
.course-details-section .margin-top {
  padding: 4rem 2rem;
}
.course-details-section .details {
  flex-basis: 299px;
  display: flex;
  margin: 0.5rem;
  gap: 1rem;
}
.course-details-section .box {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dd246e;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.4s ease;
}
.course-details-section .box:hover {
  transform: scale(1.1);
}
.course-details-section .text p {
  padding: 1rem 0;
}
.course-details-section .box2 {
  background-color: #00C0A6;
}
.course-details-section .box3 {
  background-color: #1162FC;
}

.pricing-card-section {
  background-color: #F4F7FC;
}
.pricing-card-section .popular-pourses {
  width: 100%;
  height: 700px;
}
.pricing-card-section .popular-pourses .popular-header {
  margin-top: 5rem;
  padding: 4rem;
  text-align: center;
  color: #000;
}
.pricing-card-section .popular-pourses .popular-header p {
  padding: 0.2rem;
}
.pricing-card-section .popular-pourses .popular-curses-card {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.pricing-card-section .popular-pourses .popular-curses-card .image-card {
  width: 270px;
  height: 411px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: none;
  transition: all 0.4s ease;
}
.pricing-card-section .popular-pourses .popular-curses-card .image-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.pricing-card-section .popular-pourses .popular-curses-card img {
  width: 100%;
  object-fit: cover;
}
.pricing-card-section .popular-pourses .popular-curses-card .image-text {
  padding: 1rem;
  color: #000;
}
.pricing-card-section .popular-pourses .popular-curses-card h3 {
  padding: 1rem 0;
}
.pricing-card-section .popular-pourses .popular-curses-card .star-item {
  display: flex;
  gap: 0.6rem;
}
.pricing-card-section .popular-pourses .popular-curses-card .star-item p {
  color: #000;
  padding: 0.2rem;
  font-size: 12px;
}
.pricing-card-section .popular-pourses .popular-curses-card .star {
  display: flex;
  gap: 7px;
  color: #ffc78b;
  font-size: 15px;
}
.pricing-card-section .popular-pourses .icons-text {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.pricing-card-section .popular-pourses .icons-text .icons-items i {
  font-size: 14px;
  color: #000;
  font-weight: 700;
}
.pricing-card-section .popular-pourses .icons-text .icons-items span {
  font-size: 14px;
  margin-left: 5px;
  color: #000;
  font-weight: 500;
}
.pricing-card-section .popular-pourses .bages {
  padding: 10px 20px;
  background-color: #f14d5d;
  position: absolute;
  bottom: 57%;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.pricing-card-section .popular-pourses .image-card:hover .hover-card {
  transform: scale(1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.pricing-card-section .popular-pourses .hover-card {
  padding: 2rem;
}
.pricing-card-section .popular-pourses .hover-card h2 {
  color: #f14d5d;
}
.pricing-card-section .popular-pourses .hover-card h3 {
  color: #000;
  transition: all 0.4s ease;
}
.pricing-card-section .popular-pourses .hover-card h3:hover {
  color: #f14d5d;
}
.pricing-card-section .popular-pourses .hover-card p {
  color: #000;
  padding: 0.5rem 0;
}
.pricing-card-section .popular-pourses .hover-card .button {
  padding: 12px 26px;
  margin-top: 1rem;
  border: none;
  outline: none;
  background-color: #dddddd;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.4s ease;
}
.pricing-card-section .popular-pourses .hover-card .button:hover {
  color: #fff;
  background-color: #f14d5d;
  cursor: pointer;
}
.pricing-card-section .popular-pourses .hover-card .avator-image {
  display: flex;
  padding: 0.5rem 0;
}
.pricing-card-section .popular-pourses .hover-card .avator-image .avator-item {
  width: 35px;
  height: 35px;
}
.pricing-card-section .popular-pourses .hover-card .avator-image .avator-item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.pricing-card-section .popular-pourses .hover-card .avator-image .text {
  color: #000;
  padding: 0.5rem;
}
.pricing-card-section .popular-pourses .hover-card .avator-image .icons-text {
  display: flex;
  margin-left: 2rem;
  margin-top: -7px;
  gap: 0.5rem;
}
.pricing-card-section .popular-pourses .hover-card .avator-image .icons-text i {
  color: #015abd;
}
.pricing-card-section .popular-pourses .hover-card .avator-image .icons-text span {
  color: #000;
}

.support-section {
  margin-top: 4rem;
  height: 600px;
}
.support-section .text-header {
  text-align: center;
}
.support-section .text-header p {
  line-height: 1.5rem;
}
.support-section .support-card {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.support-section .support-items {
  width: 260px;
  height: 300px;
  border-radius: 2px;
  background-color: #fff;
  text-align: center;
  padding: 3rem;
  transition: all 0.4s ease;
}
.support-section .support-items img {
  width: 50px;
  height: 50px;
}
.support-section .support-items h3 {
  padding: 1rem 0;
}
.support-section .support-items p {
  line-height: 1.5rem;
}
.support-section .support-items:hover {
  box-shadow: 0 14px 59px rgba(0, 0, 0, 0.12);
}
.support-section .top-header-button {
  margin-top: 4rem;
}
.support-section .top-header-button .text-button {
  display: flex;
  justify-content: space-between;
}
.support-section .top-header-button .text-button .text p {
  line-height: 2rem;
}
.support-section .top-header-button .all-instrutors button {
  padding: 18px 30px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: transparent;
  border: 2px solid #F14D5D;
  border-radius: 5px;
  color: #F14D5D;
  font-weight: 300;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "Montserrat Alternates";
  transition: all 0.4s ease;
}
.support-section .top-header-button .all-instrutors button:hover {
  background-color: #f14d5d;
  color: #fff;
}
.support-section .instrutors-card {
  margin-top: 6rem;
  height: 500px;
}
.support-section .instrutors-card .card-box {
  width: 270px;
  height: 350px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  border: 1px solid #ddd;
  transition: all 0.4s ease;
}
.support-section .instrutors-card .hover-baged {
  position: absolute;
  width: 125px;
  height: 36px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #F14D5D;
  position: absolute;
  top: 32%;
  left: 100%;
  transition: all 0.5s ease;
}
.support-section .instrutors-card .card-box:hover .hover-baged {
  left: 53%;
}
.support-section .instrutors-card .card-box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
}
.support-section .instrutors-card img {
  width: 80%;
  margin-top: -50px;
  border-radius: 50%;
}
.support-section .instrutors-card hr {
  width: 200px;
  margin: auto;
}
.support-section .instrutors-card h3 {
  padding: 1.5rem;
}
.support-section .instrutors-card .icons-text {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
}
.support-section .instrutors-card .icons-text i {
  color: #015abd;
}

/*# sourceMappingURL=style.css.map */
