

.container {
    width: 1140px;
    margin: auto;
}

::selection {
    background-color: #f14d5d;
    color: #fff;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
    color: #14133b;
}

h3 {
    font-size: 20px;
}
h5 {
    font-size: 15px;
}

p {
    font-size: 16px;
}